$dark-orange: #DD5700;
$light-orange: #FE8B00;
$blue: #00749e;
$mid-blue: #046385;
$dark-blue: #424B5A;
$header-bg: #F7F8F9;
$text-color: #424B5A;
$light-blue: #c2d1d9;
$grey: #979797;
$light-grey: #D0D0D0;
$dark-grey: #505D68;
