@import "../../variables";

.ck-registry-error {
  padding: 15px;
  text-align: center;

  &__icon {
	padding: 15px;
  }

  &__title {
	color: $dark-orange !important;
	font-size: 18px !important;
	line-height: 1.2 !important;
	margin: 0;
	padding-bottom: 10px;
  }

}
